parameters:
    level: 7
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
          message: '/Parameter #\d \$offset \(string\) of method (.+) should be contravariant with parameter \$offset \(mixed\) of method ArrayAccess<mixed,mixed>/'
          path: src/GlobalSession.php
includes:
  	- vendor/phpstan/phpstan-strict-rules/rules.neon
