parameters:
    level: 7
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
          message: '/Parameter #\d \$offset \(string\) of method (.+) should be contravariant with parameter \$(offset|index) \(mixed\) of method Array(Access|Object)/'
          paths:
              - src/GlobalSession.php
              - src/MockSession.php
includes:
  	- vendor/phpstan/phpstan-strict-rules/rules.neon
